body{font-family: Geometria, Helvetica, Arial, sans-serif;}

.fixed-image {
    width: 100wh;
    height: 100vh;
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: end;
    align-items: baseline;
    flex-direction: column;
    padding-left: 15%;
    z-index: 0;
}


.quote {
    display: block;
    width: 50%;
    color: #FFF;
    font-size: 32px;
    line-height: 60px;
    padding-top: 30px;
    font-family: Neva-Regular, Georgia, serif;

}

.author {
    display: block;
    padding-right: 15%;
    color: #FFF;
    font-size: 18px;
    padding-bottom: 30px;
}

.quotes-img {
    display: block;
    background-size: cover;
    background-position: center top;
    width: 42px;
    height: 31px;

}

.body {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: #686868;
    margin-left: 20%;
    margin-right: 20%;
}

.title-link, .description, ul {
    padding-left: 10%;
}

.title-link {
    padding-left: 25%;
}

.title-link a {
    text-decoration: none;
    color: #686868;
    transition: opacity .5s;
    line-height: 60px;
}

.title-link a:hover {
    opacity: .5;
}

.title-link {
    font-size: 14px;
}

.description {
    width: 70%;
    font-size: 24px;
    line-height: 30px;
    word-wrap: break-word;
    margin-left:15%;
     font-family: Neva-Regular, Georgia, serif;
}

.headline {
    font-size: 48px;
    line-height: 48px;
    font-family: Neva-Regular, Georgia, serif;
    margin-top: 60px;
    margin-bottom: 60px;
}

.service {
    margin-left: 70%;
    list-style: disc;
    font-size: 16px;
    line-height: 25px;
}

.persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.person {
    padding-top: 60px;
    width: 500px;
    height: 408px;
}

.person-photo {
    width: 100%;
    height: 75%;
    background-size: cover;
    background-position: center top;
}

.person-link {
    text-decoration: none;
    color: #686868;
    transition: opacity .5s;
}

.person-link:hover {
    opacity: .5;
}

.person-info-name {
    font-size: 32px;
    line-height: 48px;
    padding-top: 20px;
    font-family: Neva-Regular, Georgia, serif;
}

.person-info-post {
    font-size: 18px;
    line-height: 27px;
    padding-top: 5px;
}

.person-outer {
    width: 40%;
    margin-right: 1%;
}