body {
    font-family: Geometria, Helvetica, Arial, sans-serif;
}

.block-title{
    display: flex;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    flex-direction: column;
}

.navigation {
    margin-bottom: 5%;
    color: #686868;
}

.navigation a {
    text-decoration: none;
    color: #686868;
    transition: opacity .5s;
}

.navigation a:hover {
    opacity: .5;
}

.title {
    color: #686868;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 10%;
    font-family: Neva-Regular, Georgia ,serif;
}

.block-mint {
    background-color: #008588;
    width: 100%;
    font-family: Neva-Regular, Georgia ,serif;

}

/*.quote-img {
    background-size: cover;
    background-position: center top;
    display: block;
    width: 42px;
    height: 31px;
}*/

.quote {
    font-size: 36px;
    line-height: 48px;
    color: #FFF;
    padding-left: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    word-wrap: break-word;
}


.block-text {
    font-size: 16px;
    line-height: 25px;
    color: #686868;
    padding-left: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    word-wrap: break-word;
}

.block-text p{
    margin-bottom: 20px;
}