@font-face {
  font-family: 'Neva-Regular';
  src: url("../fonts/2FD1B6_0_0.eot");
  src: url("../fonts/2FD1B6_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2FD1B6_0_0.woff2") format("woff2"), url("../fonts/2FD1B6_0_0.woff") format("woff"), url("../fonts/2FD1B6_0_0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.eot");
  src: url("../fonts/Geometria.woff2") format("woff2"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype"), url("../fonts/Geometria.svg#Geometria") format("svg"), url("../fonts/Geometria.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.header_white {
  background: #fff;
}

.header_transparent {
  background: none;
  transition: background .5s ease;
}

.header_big {
  height: 111px;
  transition: height .5s;
}

.header_big .header__logo {
  height: 67px;
  margin-top: 44px;
  transition: height .5s ease, margin .5s ease;
}

.header_big .header__additional-row {
  height: 20px;
  padding-top: 7px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_big .header__menu-row {
  height: 100%;
  padding-top: 40px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_small {
  height: 65px;
  transition: height .5s;
  padding: 5px 0 5px 0;
  box-sizing: border-box;
  background: #fff;
  transition: background .5s ease;
}

.header_small .header__logo {
  height: 55px;
  margin-top: 0px;
  transition: height .5s ease, margin .5s ease;
}

.header_small .header__additional-row {
  display: none;
}

.header_small .header__menu-row {
  height: 100%;
  padding-top: 15px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_color_rus .header__logo {
  width: 171px;
  background: url("../images/AP-logo-color-rus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.header_color_rus .header__menu-link {
  color: #686868;
}

.header_color_rus .header__additional-link {
  color: #9B9B9B;
}

.header_color_rus .header__hamburger-menu-line {
  background: #686868 !important;
}

.header_color_rus .header__menu-link_active::after {
  content: "";
  display: block;
  position: relative;
  border-bottom: 3px solid #008588;
  top: 3px;
  width: 100%;
}

.header_color_eng .header__logo {
  width: 171px;
  background: url("../images/AP-logo-color-eng.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.header_color_eng .header__menu-link {
  color: #686868;
}

.header_color_eng .header__additional-link {
  color: #9B9B9B;
}

.header_color_eng .header__hamburger-menu-line {
  background: #686868 !important;
}

.header_white_rus .header__logo {
  width: 171px;
  background: url("../images/AP-logo-white-rus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.header_white_rus .header__menu-link {
  color: #fff;
}

.header_white_rus .header__additional-link {
  color: #DBDBDB;
}

.header_white_rus .header__hamburger-menu-line {
  background: #fff !important;
}

.header_white_eng .header__logo {
  width: 171px;
  background: url("../images/AP-logo-white-eng.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.header_white_eng .header__menu-link {
  color: #fff;
}

.header_white_eng .header__additional-link {
  color: #DBDBDB;
}

.header_white_eng .header__hamburger-menu-line {
  background: #fff !important;
}

@media screen and (max-width: 760px) {
  .header__menu-row {
    display: none !important;
  }
  .header__additional-row {
    display: none !important;
  }
  .header__hamburger-menu-row {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.header__menu-link {
  font-size: 16px;
}

.header__menu-link:hover {
  opacity: 1;
}

.header__menu-link:after {
  content: "";
  display: block;
  position: relative;
  border-bottom: 3px solid #008588;
  top: 3px;
  width: 0%;
  transition: width .3s ease-out, left .3s ease-out;
}

.header__menu-link:hover:after {
  width: 100%;
  transition: width .3s ease-out, left .3s ease-out;
}

.header__additional-link {
  font-size: 11px;
}

.header__additional-link:last-child {
  margin-left: 10px;
}

.header__hamburger-menu-row {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__hamburger-menu-row .header__hamburger-menu {
  width: 25px;
  height: 25px;
  margin: 15px 0 0 0;
  cursor: pointer;
}

.header__hamburger-menu-row .header__hamburger-menu .header__hamburger-menu-line {
  width: 100%;
  height: 2px;
  background: #686868;
  margin-bottom: 6px;
}

.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-container__background {
  width: 100%;
  height: 100%;
  -webkit-animation: upScale 25s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: upScale 25s infinite;
  /* IE 10+, Fx 29+ */
}

.swiper-slide {
  width: 100%;
  height: 100%;
  min-height: 500px;
  overflow: hidden;
}

.swiper-slide__content-box {
  position: absolute;
  z-index: 4;
  bottom: 128px;
}

.swiper-slide__content-box .swiper-slide__news-type {
  text-transform: uppercase;
  margin-bottom: 20px !important;
  display: block;
  color: #fff;
}

.swiper-slide__content-box .swiper-slide__header-link {
  color: #fff;
  font-family: 'Neva-Regular', Georgia, serif;
  font-size: 54px;
  line-height: 52px;
  transition: border-color .5s ease;
}

.swiper-slide__content-box .swiper-slide__selection-text {
  color: #005A80;
}

.swiper-slide__content-box .swiper-slide__header-link:hover {
  border-bottom: 2px solid #fff;
  transition: border-color .5s ease;
  opacity: 1;
}

.swiper-container__arrows {
  position: absolute;
  width: 97px;
  height: 45px;
  bottom: 39px;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.swiper-container__arrow {
  width: 45px;
  height: 45px;
  background: url(../images/arrowPrev.svg);
  cursor: pointer;
  opacity: 1;
  transition: .3s ease;
}

.swiper-container__arrow:hover {
  opacity: .7;
  transition: .3s ease;
}

.swiper-container__arrow-prev {
  background: url(../images/arrowPrev.svg);
}

.swiper-container__arrow-next {
  background: url(../images/arrowNext.svg);
  margin-left: 7px;
}

.swiper-container__three-lines {
  width: 12px;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  z-index: 3;
}

.swiper-container__line {
  width: 100%;
  height: 33.3333%;
}

.swiper-container__line-green {
  background: #008588;
}

.swiper-container__line-blue {
  background: #005A80;
}

.swiper-container__line-warm-gray {
  background: #857874;
}

@media screen and (max-width: 1024px) {
  .swiper-container__three-lines {
    display: none !important;
  }
  .swiper-slide__header-link {
    font-size: 32px !important;
    line-height: 32px !important;
  }
}


@media screen and (max-height: 500px) {
  .swiper-container__arrows {
    display: none;
  }
  .swiper-slide__header-link {
    font-size: 28px !important;
    line-height: 28px !important;
  }
}

@-webkit-keyframes upScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes upScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.title {
  margin-top: 50px;
  margin-bottom: 60px;
  font-family: "Neva-Regular", Georgia, serif;
  color: #686868;
}

.title__info {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  margin-top: 20px;
  font-size: 18px;
  line-height: 24px;
}

.main-text {
  margin-top: 15px;
  margin-bottom: 0px;
}

.main-text .main-text__text, .main-text .main-text__text p {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #686868;
  line-height: 24px;
}

.main-text .main-text__text::-moz-selection {
  background: #008588;
  color: #fff;
}

.main-text .main-text__text::selection {
  background: #008588;
  color: #fff;
}

.main-text .main-text__title {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #233;
  line-height: 24px;
}

h2 {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #233;
  line-height: 24px;
}

.qoutes {
  width: 100%;
  background: #008588;
  margin-top: 50px;
  margin-bottom: 50px;
}

.qoutes .qoutes__text {
  font-family: "Neva-Regular", Georgia, serif;
  font-size: 36px;
  color: #fff;
  line-height: 44px;
  margin: 50px 0 50px 0;
  padding: 0 !important;
  border-left: none !important;
}

.qoutes .qoutes__icon {
  width: 42px;
  height: 31px;
  background: url(../images/quotes.svg);
  background-position: center;
  margin: 50px 0 50px 0;
}

.description {
  margin-top: 25px;
}

.description .description_path {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #686868;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.description .description_path a {
  color: #686868;
}

.description .description_content {
  font-family: "Neva-Regular", Georgia, serif;
  font-size: 24px;
  color: #686868;
  line-height: 30px;
}

.person-biography {
  width: 100%;
  background: #008588;
  padding: 50px 0 50px 0;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.person-biography .person-biography__name {
  font-family: "Neva-Regular", Georgia, serif;
  font-size: 36px;
  color: #fff;
  line-height: 36px;
  margin: 0 0 20px 0;
}

.person-biography .person-biography__text {
  font-family: "Neva-Regular", Georgia, serif;
  font-size: 24px;
  color: #fff;
  line-height: 28px;
  margin: 0 0 20px 0;
}

.person-biography a.person-biography__email {
  font-family: "Neva-Regular", Georgia, serif;
  font-size: 24px;
  color: #fff;
  line-height: 28px;
  border-bottom: 1px solid white;
}

.person-experience {
  margin-top: 40px;
}

.person-experience .person-experience__title {
  color: #686868;
  font-size: 18px;
  margin-bottom: 20px;
}

.person-experience .person-expirience__text {
  color: #686868;
  font-size: 14px;
  line-height: 22px;
}

.footer {
  width: 100%;
}

.footer__first-part {
  background: #D9D9D9;
  min-height: 200px;
  margin-top: 100px;
  padding-top: 45px;
  padding-bottom: 45px;
  box-sizing: border-box;
}

.footer__first-part .footer__first-part__column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 20px;
}

.footer__first-part .footer__first-part__column a.footer__first-part__column__mn-links {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #4c4c4c;
}

.footer__first-part .footer__first-part__column a.footer__first-part__column__mn-links:hover {
  opacity: .7;
  transition: .5s ease;
}

.footer__first-part .footer__first-part__column a.footer__first-part__column__pr-links {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  color: #7c7c7c;
}

.footer__first-part .footer__first-part__column a.footer__first-part__column__pr-links:hover {
  opacity: .7;
  transition: .5s ease;
}

.footer__first-part .footer__first-part__column .footer__first-part__column__text {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  color: #7c7c7c;
}

.footer__first-part .footer__first-part__column a.footer__first-part__column__mail {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  color: #7c7c7c;
}

.footer__first-part .footer__logo {
  width: 171px;
  height: 67px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.footer__first-part .footer__logo:hover {
  opacity: .7;
  transition: .5s ease;
}

.footer__first-part .footer__logo-rus {
  background-image: url(../images/AP-logo-color-rus.svg);
}

.footer__first-part .footer__logo-eng {
  background-image: url(../images/AP-logo-color-eng.svg);
}

.footer__second-part {
  background: #4A4A4A;
  min-height: 50px;
  padding: 10px 0 15px 0;
  box-sizing: border-box;
}

.footer__second-part .footer__second-part__copyright {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  text-align: left;
}

.footer__second-part .footer__second-part__remark {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  text-align: right;
}

.off-canvas {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: rgba(0, 133, 136, 0.9);
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  transition: .5s ease;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.off-canvas .off-canvas__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  background-image: url(../images/close.svg);
  background-size: contain;
  opacity: 1;
  transition: opacity .5s ease;
}

.off-canvas .off-canvas__close-button:hover {
  opacity: .6;
  transition: opacity .5s ease;
}

.off-canvas .off-canvas__menu-row {
  width: 300px;
  margin: auto;
  text-align: center;
}

.off-canvas .off-canvas__menu-link {
  color: #fff;
  display: block;
  margin: auto;
  font-family: "Neva-Regular", Georgia, serif;
  font-size: 36px;
}

.off-canvas .off-canvas__divider {
  height: 15px;
  width: 100%;
}

.off-canvas .off-canvas__add-menu-link {
  color: #fff;
}

.hide {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: .5s ease;
}

.about-text {
  padding-top: 155px;
  padding-bottom: 55px;
  box-sizing: border-box;
}

.about-text .about-text__title {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 32px;
  color: #4C4C4C;
  letter-spacing: 0px;
  line-height: 29px;
  margin-bottom: 20px;
}

.about-text .about-text__text {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 20px;
}

.row_centered {
  margin: auto;
}

.practice {
  margin-bottom: 4px;
  min-height: 176px;
  padding: 25px 0 25px 0;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.practice .practice__title {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 32px;
  color: #fff;
  line-height: 29px;
  margin: 10px 0 10px 0;
}

.practice .practice__text {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

.practice:nth-child(1) {
  background-color: #005A80;
}

.practice:nth-child(2) {
  background-color: #337B99;
}

.practice:nth-child(3) {
  background-color: #669CB3;
}

.practice:nth-child(4) {
  background-color: #008588;
}

.practice:nth-child(5) {
  background-color: #339DA0;
}

.practice:nth-child(6) {
  background-color: #66B6B8;
}

.practice:nth-child(7) {
  background-color: #857874;
}

.practice:nth-child(8) {
  background-color: #9E9390;
}

.practice:nth-child(9) {
  background-color: #B6AEAC;
}

.practice:last-child {
  margin-bottom: 100px;
}

.image-block {
  width: 100%;
  height: 100vh;
}

.image-block .image-block__container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.image-block .image-block__container__content-box {
  position: absolute;
  bottom: 35px;
}

.image-block .image-block__container__content-box_name {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 16px;
}

.image-block .image-block__container__content-box_quote {
  font-family: "Neva-Regular", Georgia, serif;
  font-size: 36px;
  color: #fff;
  line-height: 44px;
  margin: 20px 0 20px 0;
}

.image-block .image-block__container__content-box_quote-icon {
  width: 42px;
  height: 31px;
  background: url(../images/quotes.svg);
  background-position: center;
  margin: 30px 0 30px 0;
}

.person .person_photo {
  width: 100%;
  height: 307px;
  margin-bottom: 20px;
}

.person .person_name {
  font-family: "Neva-Regular", Georgia, serif;
  font-size: 32px;
  color: #686868;
}

.person .person_position {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #686868;
  margin-bottom: 7px;
}

.practice-news .practice-news_outline-box {
  border: 2px solid #686868;
  min-height: 170px;
  margin: 12px 0px 12px 0px !important;
  padding: 25px;
  box-sizing: border-box;
}

.practice-news .practice-news_date {
  font-family: "Geometria Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #686868;
  margin-bottom: 10px;
}

.practice-news .practice-news_text {
  font-family: "Geometria Bold", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #686868;
  letter-spacing: 0px;
}

@media screen and (max-width: 500px) {
  .image-block__container__content-box_quote {
    font-size: 28px !important;
    line-height: 30px !important;
  }
}

.news-filters {
  padding-top: 200px;
  box-sizing: border-box;
}

.news-filters .news-filters__text_row {
  text-align: center;
}

.news-filters .news-filters__button {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #4C4C4C;
  margin: 0 10px 0 10px;
  transition: opactity .5s ease;
  border-bottom: 1px dashed #686868;
  border-radius: 0px;
  margin-bottom: 10px;
}

.news-filters .news-filters__button:hover {
  opacity: .7;
  transition: opactity .5s ease;
}

.news-filters button {
  outline: none;
}

.news-filters .is-active {
  opacity: .5;
}

.news-filters .news-filters__button_show-all {
  width: 20px;
  height: 20px;
  background: url("../images/eye-open.svg");
  background-size: cover;
  background-position: center;
  border: 0px;
}

.news-filters .news-filters__button_show-all.is-active {
  width: 20px;
  height: 20px;
  background: url("../images/eye-closed.svg");
  background-size: cover;
  background-position: center;
  border: 0px;
}

.grid {
  max-width: 1000px;
  margin: auto;
  padding-top: 35px;
  box-sizing: border-box;
}

.grid .grid-item {
  margin-bottom: 10px;
  transition: opacity .5s ease;
}

.grid .grid-item:hover {
  opacity: .7;
  transition: opacity .5s ease;
}

.grid .grid__blackout {
  width: 100%;
  height: 100%;
  background: black;
  opacity: .4;
}

.grid .grid__big-news {
  width: calc( ( ( ( 100% - 10px * 2 ) / 3 ) * 2 ) + 10px);
  min-width: 300px;
  height: 320px;
}

.grid .grid__big-news .grid__big-news_text {
  font-family: "Geometria Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 28px;
  line-height: 30px;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  width: calc( 100% - 40px);
}

.grid .grid__big-news .grid__big-news_type {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  width: 50%;
}

.grid .grid__small-news {
  width: calc( ( 100% - 10px * 2 ) / 3);
  height: 320px;
  min-width: 200px;
}

.grid .grid__small-news .grid__small-news_text {
  font-family: "Geometria Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  width: calc( 100% - 40px);
}

.grid .grid__small-news .grid__small-news_type {
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  width: 50%;
}

@media screen and (max-width: 620px) {
  .grid__big-news {
    width: 100% !important;
  }
  .grid__meduim-news {
    width: 100% !important;
  }
  .grid__small-news {
    width: 100% !important;
  }
  .grid__small-news_double {
    width: 100% !important;
  }
}

.image-block_seemore-arrow {
  width: 42px;
  height: 30px;
  background: url("../images/down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: calc(50% - 15px);
  bottom: 30px;
  cursor: pointer;
  -webkit-animation: arrowMove 5s infinite;
          animation: arrowMove 5s infinite;
}

@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 1;
    transition: opacity .5s ease;
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: .0;
    transition: opacity .5s ease;
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 1;
    transition: opacity .5s ease;
  }
}

@keyframes arrowMove {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 1;
    transition: opacity .5s ease;
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: .0;
    transition: opacity .5s ease;
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 1;
    transition: opacity .5s ease;
  }
}

.person_detailed {
  padding-top: 90px;
}

.person_detailed .person_detailed__photo {
  width: 100%;
  height: 440px;
  margin-bottom: 20px;
}

.person_detailed .person_detailed__name {
  font-family: "Neva-Regular", Georgia, serif;
  font-size: 32px;
  color: #686868;
}

.person_detailed .person_detailed__position {
  font-family: "Neva-Regular", Georgia, serif;
  font-size: 24px;
  color: #686868;
  margin-bottom: 7px;
}

.person_detailed .person_detailed__practices-title {
  font-family: "Geometria Bold", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #9B9B9B;
  margin-bottom: 7px;
}

.person_detailed .person_detailed__practices a {
  font-family: "Geometria Bold", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #686868;
  margin: 0 0 0 0;
}

.person_detailed .person_detailed__line {
  width: 100%;
  height: 2px;
  background: #686868;
  margin: 60px 0 60px 0;
}

.person_detailed:first-child {
  padding-top: 220px;
}

.full-width-line {
  width: 100%;
  height: 2px;
  background: #857874;
  margin: 50px 0 50px 0;
}

.contacts {
  padding-top: 150px;
  box-sizing: border-box;
}

.contacts .contacts__image {
  width: 315px;
  height: 175px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-top: 30px;
}

.contacts .contacts__image_moscow {
  background-image: url("../images/moscow-office.svg");
}

.contacts .contacts__image_london {
  background-image: url("../images/london-office.svg");
}

.contacts .contacts__image_line {
  width: 100vw;
  position: absolute;
  left: 0px;
  height: 2px;
  background: #857874;
}

.contacts .contacts__title {
  font-family: "Geometria Bold", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.contacts .contacts__address {
  font-family: "Neva-Regular", Georgia, serif;
  font-size: 56px;
  margin-top: 35px;
  line-height: 68px;
}

body {
  font-family: 'Geometria', Helvetica, Arial, sans-serif;
  color: #686868;
}

h1 {
  font-family: 'Neva-Regular', Georgia, serif;
}

a {
  opacity: 1;
  transition: opacity .5s ease;
}

a:hover {
  opacity: .7;
  transition: opacity .5s ease;
}

.divider {
  height: 120px;
}

.full-height {
  height: 100%;
}

.display-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .display-flex {
    display: block;
  }
}

.margin-auto {
  margin: auto;
}

.position-fixed {
  position: fixed;
}
