{% extends "wrapper.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/main/team.css' %}">
{% endblock styles %}


{% block navi %}
        <div class="nav-menu">
            <a href="{% url 'practices' %}" class="nav-link"> Практики </a>
            <a href="{% url 'team' %}" class="nav-link"> Команда </a>
            <a href="{% url 'all_news' %}" class="nav-link"> Пресс-центр </a>
            <a href="{% url 'contacts' %}" class="nav-link"> Контакты </a>
        </div>
{% endblock navi %}


{%block body%}
<div class="team-container">
{% for person in staff.all %}
<!--<p><a href="{% url 'person_details' person.id %}"> {{person.name}}</a></p>-->

<div class="person">
    <div class="person-inner">
    <a href="{% url 'person_details' person.id %}" class="person-link">
        <div class="person-photo" style="background-image: url('{% static person.photo.url %}')">
        </div>
        <div>
            <p class="person-name">{{person.name}}</p>
            <p class="person-post">{{person.post}}</p>
        </div>
    </a>
    <div>
        <p style="padding-bottom: 10px"> Практики </p>
        <p>{% for practice in person.get_practices %} <a class="practices" href="{% url 'area_details' practice.id %}"> {{practice.name}}.  </a> {%endfor%}</p>
    </div>
    </div>
</div>

{% endfor %}
</div>

{%endblock body%}