{% extends "wrapper.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/news/press.css' %}">
{% endblock styles %}

{%block navi%}
        <div class="nav-menu">
            <a href="{% url 'practices' %}" class="nav-link"> Практики </a>
            <a href="{% url 'team' %}" class="nav-link"> Команда </a>
            <a href="{% url 'all_news' %}" class="nav-link"> Пресс-центр </a>
            <a href="{% url 'contacts' %}   " class="nav-link"> Контакты </a>
        </div>
{%endblock navi%}


{%block body%}

<ul class="categories">
    <li class="news-item selected"><a href="#" rel="все"> Все </a></li>
    <li class="news-item"><a href="#" rel="события">События </a></li>
    <li class="news-item"> <a href="#" rel="пресс-релизы">Пресс-релизы </a></li>
    <li class="news-item"> <a href="#" rel="мнения">Мнения </a></li>
</ul>


<div class="news">
<!--<a href="{{post.id}}">{{post}}</a> <p>-->
{%for post in news.all%}
    <a rel="{{post.get_type.lower}}" href="{{post.id}}" class="post-link"> <div  class="post" style="background-image: url('{% static post.photo.url %}')">
        <div class="type"> {{post.get_type.upper}} </div>
        <div class="title"> {{post.title}} </div>
    </div> </a>

{% endfor %}
</div>

{%endblock body%}

{% block scripts %}
<script src="{% static '/js/news/press.js' %}"></script>
{% endblock scripts %}