{% extends "wrapper.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/news/press.css' %}">
{% endblock styles %}

{%block navi%}
        <div class="nav-menu">
            <a href="{% url 'practices' %}" class="nav-link"> Практики </a>
            <a href="{% url 'team' %}" class="nav-link"> Команда </a>
            <a href="{% url 'all_news' %}" class="nav-link"> Пресс-центр </a>
            <a href="{% url 'contacts' %}   " class="nav-link"> Контакты </a>
        </div>
{%endblock navi%}


{%block body%}
<div class="categories">
    <a href="#"> Все </a>
    <a href="#"> События </a>
    <a href="#"> Пресс-релизы </a>
    <a href="#"> Мнения </a>
</div>

<div class="news">
<!--<a href="{{post.id}}">{{post}}</a> <p>-->
{%for post in news.all%}
    <div class="post" style="background-image: url('{% static post.photo.url %}')">
        {{post.get_type}}
    </div>


{% endfor %}
</div>

{%endblock body%}