{% extends "wrapper.html" %}


{%block navbar%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'practices' %}">Практики </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'team' %}">Команда</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'all_news' %}">Пресс-центр</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                </li>
{%endblock navbar%}


{%block body%}

<a href="#"> Все </a>
<a href="#"> События </a>
<a href="#"> Пресс-релизы </a>
<a href="#"> Мнения </a>
<p></p>

{%for post in news.all%}
<a href="{{post.id}}">{{post}}</a> <p>

{% endfor %}


{%endblock body%}